body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background: $primary-color;
    font-family: sans-serif;
}

canvas {
    max-width: 100%;
    height: auto;
}

.left {
    text-align: left;
}

.bold {
    font-weight: 600;
}