$global-padding: 15px;
$global-radius: 5px;

$primary-color: #57913d;
$secondary-color: #5c376e;

$default-transition-time: 0.25s;
$default-transition-ease: ease-out;
$default-transition: $default-transition-time all $default-transition-ease;