$component: '.button';

.buttons {
    margin: 20px 0;
}

#{$component} {
    padding: 12px;
    border: none;
    border-radius: 50%;
    background: $secondary-color;
    color: #fff;
    font-size: 18px;
    transition: $default-transition;

    &:not(:first-child) {
        margin-left: 10px;
    }

    &:hover {
        background: #333;
    }
    
    &--wide {
        width: 100%;
        
        &:not(:first-child) {
            margin: 10px 0 0;
        }
    }

    &--secondary {
        background: #fff;
        color: $primary-color;
    }
}