$component: '.button-info';

#{$component} {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-120%);
    text-align: center;
    font-size: 14px;
    text-transform: lowercase;
    color: #fff;
    transition: $default-transition;

    .is-active & {
        color: $secondary-color;
    }
}