$component: '.floating-buttons';

#{$component} {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: $global-padding;
    left: $global-padding;
    right: $global-padding;

    button {
        position: relative;
        z-index: 9;

        &:not(:first-child) {
            margin-left: 10px;

            @media only screen and (max-width: 600px) {
                margin: 0 10px 0 0;
            }
        }
    }
}