@import '../../styles/settings.scss';

$padding: 10px;
$paddingSmall: 5px;
$radius: 5px;

.scoreboard {
    display: flex;
    justify-content: center;
    min-width: 400px;
    padding: $paddingSmall;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    background: rgba(0, 0, 0, 0.5);
    font-family: sans-serif;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .name {
        margin: $padding 0;
        text-align: right;
        color: #fff;

        &:not(:nth-child(1)):before {
            content: '-';
            margin: 0 $paddingSmall;
        }

        &:nth-child(1):nth-last-child(3) {
            flex: 1;
        }

        &:nth-child(2):nth-last-child(2) {
            flex: 1;
            order: 1000;
            text-align: left;

            &:before {
                content: none;
            }
        }

        > span {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }
    }

    .score__wrapper {
        display: flex;
        flex-direction: column;
        margin: 0 $padding;
    }

    .score,
    .time {
        padding: $padding;
        text-align: center;
        background: #fff;
    }

    .score {
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
    }

    .time {
        padding-top: 0;
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
    }
}

.standings {
    width: calc(100% - 30px);
    padding: 5px;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.75);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: right;
    color: #666;

    table {
        width: 100%;
    }

    caption {
        font-size: 16px;
        color: $primary-color;
    }

    th {
        font-size: 12px;
        font-weight: normal;
        color: $primary-color;
    }

    th:not(:nth-child(2)),
    td:not(:nth-child(2)) {
        width: 36px;
    }

    th:first-child,
    td:first-child {
        width: 20px;
    }

    td.bold {
        color: #333;
    }
}