<div class="scoreboard__wrapper">
    <div class="scoreboard">
        <div *ngFor="let team of getTeams(); index as i" class="name"><span [style.background-color]="team.color"></span> {{ team.name }}</div>
        <div class="score__wrapper">
            <div class="score">
                <span *ngFor="let score of getScore(); index as i;"><span *ngIf="i > 0"> - </span>{{ score }}</span>
            </div>
            <div class="time">{{ getCountdown() }}s</div>
        </div>
    </div>
    <div *ngIf="getStandings().length" class="standings">
        <table>
            <caption>Standings</caption>
            <thead>
                <tr>
                    <th></th><th></th><th>played</th><th>points</th><th>+/-</th><th>win</th><th>loss</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let standing of getStandings(); index as i;">
                    <td>{{ i + 1 }}.</td>
                    <td class="bold left">{{ standing.name }}</td>
                    <td>{{ standing.matches }}</td>
                    <td class="bold">{{ standing.victoryPoints }}</td>
                    <td>{{ standing.pointDifference }}</td>
                    <td>{{ standing.pointsScored }}</td>
                    <td>{{ standing.pointsLost }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="floating-buttons">
    <button (click)="togglePaused()" [ngClass]="{'is-active': !isPaused()}" class="button play-pause"><div class="button-info">{{ isPaused() ? 'Play' : 'Pause' }}</div></button>
</div>